
body {
    min-height: 100vh;
    color: #222;
    font-family:sans-serif;
    background-image: linear-gradient(45deg,rgb(189, 84, 171),rgb(96, 5, 124));
}

h1 {
    text-align: center;
    margin: 30px auto;
}

h2,h3 {
    text-align: center;
    margin: 30px auto;
}

.box{
    background-color:aliceblue;    
    text-align: center;
    padding: 10px;
    border:1px solid rgba(0, 0, 0, 0.432);    
}